body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.positioner {
  position: absolute;
  z-index: 100;
  left: 20px;
  transform: translate(-50%, -50%);
  color: #888;
  font-size: 20px;
  top: 50%;
}

.custom-pos {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-inline: 30px;
  gap: 10px;
  background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
  align-items: center;
}



.modalEl {
  position: fixed;
  right: 30px;
  top: 65px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10000;
}
@media only screen and (max-width: 800px) {
  .custom-pos {
    padding-inline: 10px;
  }
  .modalEl {
    right: 10px;
  }
}

.seeTrough {
background:rgb(226, 226, 226, 72%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
}
@tailwind base;
@tailwind components;
@tailwind utilities;